@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.sidebar {
	position: fixed;
	height: 100%;
	width: 240px;
	background:#007bff;
	transition: all 0.5s ease;
}

.sidebar.active {
	width: 60px;
}

.sidebar .logo-details {
	height: 60px;
	display: flex;
	align-items: auto;
}

.sidebar .logo-details i {
	font-size: 28px;
	font-weight: 500;
	color: #fff;
	min-width: 60px;
	text-align: center;
}

.sidebar .logo-details .logo_name {
	color: #fff;
	font-size: 24px;
	font-weight: 500;
}

.sidebar .nav-links {
	margin-top: 10px;
}

.sidebar .nav-links li {
	position: relative;
	list-style: none;
	height: 50px;
}

.sidebar .nav-links li a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.4s ease;
}

.sidebar .nav-links li a.active {
	background: #007bff; 
}

.sidebar .nav-links li a:hover {
	background: #035fc0; 
}
.sidebar .logo-details a:hover{
	color: #007bff;
}

.sidebar .nav-links li i {
	min-width: 60px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.sidebar .nav-links li a .links_name {
	color: #fff;
	font-size: 15px;
	font-weight: 400;
	white-space: nowrap;
}

/* main content */
.home-section {
	position: relative;
	background: #ffffff; 
	min-height: 100vh;
	width: calc(100% - 240px);
	left: 240px;
	transition: all 0.5s ease;
}

.sidebar.active ~ .home-section {
	width: calc(100% - 60px);
	left: 60px;
}

.home-section nav {
	display: flex;
	justify-content: space-between;
	height: 80px;
	background: #ffffff; 
	display: flex;
	align-items: center;
	position: fixed;
	width: calc(100% - 240px);
	left: 240px;
	z-index: 100;
	padding: 0 20px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	transition: all 0.5s ease;
}

.sidebar.active ~ .home-section nav {
	left: 60px;
	width: calc(100% - 60px);
}

.home-section nav .sidebar-button {
	display: flex;
	align-items: center;
	font-size: 24px;
	font-weight: 500;
}

nav .sidebar-button i {
	font-size: 35px;
	margin-right: 10px;
}

.home-section nav .profile-details {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #72bffe; 
	border: 3px solid #ffffff; 
	border-radius: 6px;
	height: 50px;
	min-width: 190px;
}

nav .profile-details .admin_name {
	font-size: 15px;
	font-weight: 500;
	color: #000000;
	white-space: nowrap;
}

.home-section .home-content {
	position: relative;
	padding-top: 104px;
	padding-left: 20px;
	padding-right: 20px;
}

.btn {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.btn a {
	text-decoration: none;
	color: white;
}

.btn-tambah {
	margin: 10px 0;
}

.btn-simpan {
	width: 100%;
}

.btn:hover {
	background-color: #184f89; 
}

.table-data {
	text-align: center;
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border: 1px solid black;
	padding: 5px 20px;
}

.form-login {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #ffffff; 
	padding: 30px;
	margin: 10px auto;
	border-radius: 10px;
}

.input {
	width: 100%;
	margin: 10px 0;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid rgb(0, 0, 0);
}

/* Responsive Media Query */
@media (max-width: 1240px) {
	.sidebar {
		width: 60px;
	}
	.sidebar.active {
		width: 220px;
	}
	.home-section {
		width: calc(100% - 60px);
		left: 60px;
	}
	.sidebar.active ~ .home-section {
		overflow: hidden;
		left: 220px;
	}
	.home-section nav {
		width: calc(100% - 60px);
		left: 60px;
	}
	.sidebar.active ~ .home-section nav {
		width: calc(100% - 220px);
		left: 220px;
	}
}

@media (max-width: 700px) {
	nav .profile-details {
		display: none !important;
	}
	.home-section nav .profile-details {
		height: 50px;
		min-width: 40px;
	}
}

@media (max-width: 550px) {
	.profile-details {
		display: none !important;
	}
}

@media (max-width: 400px) {
	.sidebar {
		width: 0;
	}
	.sidebar.active {
		width: 60px;
	}
	.home-section {
		width: 100%;
		left: 0;
	}
	.sidebar.active ~ .home-section {
		left: 60px;
		width: calc(100% - 60px);
	}
	.home-section nav {
		width: 100%;
		left: 0;
	}
	.sidebar.active ~ .home-section nav {
		left: 60px;
		width: calc(100% - 60px);
	}
}
