* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.modal-container {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(7 7 7 / 61%);
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    background-color:#ffffff7d;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 90%;
    position: relative;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #16a2e7;
    margin: 0;
}

.btn-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
    padding: 10px;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}

.btn-secondary,
.btn-yellow {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 10px;
    width: auto;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-yellow {
    background-color: #333;
    color: #fff;
}

.btn-yellow:hover,
.btn-secondary:hover {
    background-color: #127ff3;
}

.form-group {
    margin-bottom: 15px;
}

.labelmodal {
    font-weight: bold;
    color: #333;
}

.inputdata,
.inputalamat {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.inputalamat {
    height: 80px;
    resize: vertical;
}
.btn_getStarted {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background-color: #21b1f900;
    color: #000000;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.btn_getStarted:hover {
    background-color: #2a80e2;
    color: #fff;
}
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
body {
    font-family: "Raleway", Verdana;
    /* Mengubah font utama */
    background-color: #82b7e98b;
    /* Warna latar belakang */
}

.container {
    width:77%;
    /* Mengurangi lebar container */
    margin: 0 auto;
}

/* Navbar */
nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #5d9cfca5;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #000000;
    /* Warna teks saat hover */
}

nav .menu-btn i {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

/* Button Login */
.btn_login {
    background-color: #2a80e200;
    width: 120px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.btn_login:hover {
    background-color: #2a80e2;
    /* Warna latar belakang saat hover */
}

/* Jumbotron */
.walpaper {
    display: flex;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.walpaper-image {
    width: 100%;
    height: 400%;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

.walpapaer-text {
    width: 40%;
    color: #4a2c0b;
    /* Warna teks */
}

.walpaper-text h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.walpaper-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

.walpaper-text button {
    padding: 10px 18px;
    border: none;
    border-radius: 10px;
    background-color: #21b1f900;
    /* Warna latar belakang tombol */
    color: #000000;
    /* Warna teks tombol */
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.walpaper-text button:hover {
    background-color: #2a80e2;
    /* Warna latar belakang saat hover */
    color: #fff;
    /* Warna teks saat hover */
}

/* Card Categories */
.cards-categories {
    display: block;
    /* Mengubah tata letak menjadi  */
    grid-template-columns: repeat(auto-fit, minmax(50px, 0fr));
    /* Mengatur lebar item */
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}

.card-content {
    padding: 20px;
}

.card-content h5 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    /* Warna teks judul */
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #6f6464;
    margin-bottom: 15px;
}

.card-content .price {
    font-size: 16px;
    font-weight: bold;
    color: #ff0000;
    /* Warna teks harga */
    margin-bottom: 15px;
}

.card-content .btn_belanja {
    background-color: #646360;
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.card-content .btn_belanja:hover {
    background-color: #fd0909;
    /* Warna latar belakang saat hover */
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #61616100;
    /* Warna latar belakang */
    padding: 20px;
    position: relative;
    color: #000000;
    font-weight: 500;
}

/* Form Login */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    background-color: #fff;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 6px 12px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.link-register {
    text-decoration: none;
    margin-top: 10px;
    color: #4a2c0b;
    /* Warna teks */
    font-weight: 500;
}